<ion-header>
  <ion-navbar color="primary">
    <button menuToggle ion-button *ngIf="!producto">
            <ion-icon name="menu"></ion-icon>
        </button>
    <ion-title># {{producto.NOM_REF}}</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="dismiss()" *ngIf="modal">
                <ion-icon name="close"></ion-icon>
            </button>
      <button ion-button icon-only (click)="editprecio()">
                <ion-icon name="create"></ion-icon>
            </button>
      <button ion-button icon-only (click)="saveImage()">
                <ion-icon name="download"></ion-icon>
            </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content class="card-background-page">
  <div text-center *ngIf="loader">
    <ion-spinner color="primary"></ion-spinner>
  </div>
  <ion-card>
    <ion-grid>
      <ion-row>
        <ion-col col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6>
          <img src="{{producto.imagen}}" id="{{producto.id}}" alt="Imagen de producto" *ngIf="!api.offline" style="min-width:200px; width:100%">
          <img src="{{imagenLocal(producto)}}" id="{{producto.id}}" alt="Imagen de producto" *ngIf="api.offline" style="min-width:200px; width:100%">
        </ion-col>
        <ion-col col-xs-12 col-sm-6 col-md-6 col-lg-6 col-xl-6>
          <ion-card-content>
            <ion-card-header>{{producto.NOM_REF}}</ion-card-header>
            <p>
              <strong>Codigo:     </strong>{{producto.COD_REF}} <br>
              <strong>Precio:     </strong>{{producto.VAL_REF}} <br>
              <strong>Pedidos:    </strong>{{producto.SALD_PED}}<br>
              <strong>Existencia: </strong>{{producto.EXISTENCIA}}
            </p>
            <ion-item>
              <ion-label>Neto?</ion-label>
              <ion-toggle [(ngModel)]="producto.neto" value="1"></ion-toggle>
            </ion-item>
            <ion-item>
              <ion-label floating>observación</ion-label>
              <ion-textarea [(ngModel)]="producto.observacion"></ion-textarea>
            </ion-item>
            <ion-row>
              <ion-col col-2>
                <button ion-button light (click)="pedidoAdd()">
					<ion-icon name="arrow-dropup"></ion-icon>
				</button>
              </ion-col>
              <ion-col col-8>
                <ion-input [(ngModel)]="pedidos" type="number"></ion-input>
              </ion-col>
              <ion-col col-2>
                <button ion-button light (click)="pedidoSub()">
					<ion-icon name="arrow-dropdown"></ion-icon>
				</button>
              </ion-col>
            </ion-row>
          </ion-card-content>
        </ion-col>
      </ion-row>
    </ion-grid>

  </ion-card>
</ion-content>
<ion-footer>
  <button ion-button icon-left (click)="agregarAlCarrito()" full> 
		<ion-icon name="cart"></ion-icon> Agregar Al Carrito
	</button>
</ion-footer>
