<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <!--<ion-buttons left>
      <button ion-button icon-only (click)="toggleVista()">
        <ion-icon [name]="vista == 'lista' ? 'list-box' : 'photos'"></ion-icon>
      </button>
    </ion-buttons>-->
    <ion-title>Productos</ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="mostrarImagenes = !mostrarImagenes">
			<ion-icon name="images"></ion-icon>
		</button>
      <button ion-button icon-right (click)="initSaveAlbum()">
			<ion-icon name="download"></ion-icon>
		</button>
    </ion-buttons>
  </ion-navbar>
  <ion-toolbar>
    <ion-searchbar [(ngModel)]="query" (ionInput)="getProductos(true)"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="vista == 'lista'">

  <ion-list [virtualScroll]="productos" [approxItemHeight]="mostrarImagenes ? '98px' : '87px'">

    <button ion-item *virtualItem="let producto" (click)="verProducto(producto)">
        <ion-thumbnail item-left>
          <img [src]="imagenLocal(producto)" *ngIf="mostrarImagenes && api.offline" />
          <img [src]="producto.imagen" *ngIf="mostrarImagenes && !api.offline" />
        </ion-thumbnail>
        <h2>{{producto.NOM_REF}}</h2>
        <p>{{producto.VAL_REF}} $ </p>
        <small>{{producto.EXISTENCIA}} disponibles</small> |
        <small>{{producto.SALD_PED}} pedidos</small>
        <div class="item-note" item-right>
          {{producto.COD_REF}}
        </div>
      </button>
  </ion-list>
</ion-content>

<ion-content *ngIf="vista == 'cards'">
  <div [virtualScroll]="productos" approxItemHeight="300px" [hidden]="vista !='cards'" class="card-brackground-page">
    <ion-card *virtualItem="let producto" (click)="verProducto(producto)" text-center>
      <img [src]="imagenLocal(producto)" *ngIf="api.offline" />
      <img [src]="producto.imagen" *ngIf="!api.offline" />
      <h3 class="card-title">{{producto.NOM_REF}}</h3>
      <h4 class="card-subtitle">{{producto.VAL_REF}}</h4>
    </ion-card>
  </div>
</ion-content>
